:root {
    --main: #0b0c2b;
    --secondary: #dba5e4;
    --dark-highlight: #194438;
    --highlight: #ddff8f;
    --highlight-secondary: #f2211d;
    --border-radius: 5px;
}

/* Mac Silver: #DFE0E2
Yamazaki wood: #F8DEB7 */

@font-face {
    font-family: 'Victor Mono';
    font-weight: 100 - 700;
    src: url('assets/fonts/Jost-VariableFont_wght.ttf');
}

body,
html {
    height: 100%;
    background-color: var(--main);
    scroll-behavior: smooth;
}

* {
    font-family: 'Victor Mono';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--secondary);
    font-weight: 400;
    list-style: none;
}

nav ul {
    display: flex;
    margin-top: 20px;
    list-style: none;
    justify-content: space-around;
}

nav li {
    border-bottom: 2px solid var(--highlight-secondary);
}

nav ul > li > a,
li {
    color: var(--highlight);
}

a,
a:visited {
    text-decoration: none;
}

h1 {
    margin-bottom: 8vh;
    margin-right: 10vw;
    font-size: 4vh;
    text-shadow: 1px 1px var(--highlight);
}

h2 {
    text-shadow: 0.5px 0.5px var(--highlight);
}

h3 {
    font-size: x-large;
}

h4 {
    border-bottom: 1px solid var(--highlight);
    margin-bottom: 1vh;
}

header {
    height: 35vh;
    display: flex;
    justify-content: center;
    align-items: end;
    border-top: 5px solid var(--highlight);
    border-bottom: 5px solid var(--highlight);
    margin: 3vh 0 3vh 0;
}

svg {
    max-height: 30vh;
}

hr {
    width: 65vw;
    background: linear-gradient(to right, var(--highlight), var(--main));
    height: 2px;
    border: none;
    margin-bottom: 3vh;
}

.category {
    font-weight: 300;
    border: 1px solid var(--highlight-secondary);
    border-radius: 55%;
}

section {
    padding: 10px;
    display: flex;
    flex-direction: column;
}

p {
    margin-bottom: 1vh;
}

#skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5%;
}

#skills > li {
    justify-content: space-evenly;
}

.resume-item {
    padding: 15px;
    margin-bottom: 5vh;
    transition:
        background-color 1s ease,
        box-shadow 1.5s ease;
}

.resume-item.in-focus {
    background-color: var(--main);
    box-shadow: inset 20px 20px 100px var(--dark-highlight);
    border-radius: 5px;
}

#contact-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;
}

.star {
    color: var(--highlight-secondary);
}

footer {
    height: 5vh;
    margin-top: 15vh;
    text-align: center;
}

#resume-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-y: scroll;
}

#resume-container img {
    border: 5px solid var(--highlight);
    max-height: 95vh;
    max-width: 95vw;
}

@media (hover: hover) and (pointer: fine) {
    nav a:hover {
        background: var(--highlight-secondary);
    }
}

/* mobile */
@media (min-width: 900) {
}

/* Laptop/ desktop */
@media (min-width: 1280px) {
    * {
        font-size: large;
    }
    header {
        height: 90vh;
    }
    section {
        margin-top: 70px;
        margin-right: 25%;
        margin-left: 25%;
    }
    hr {
        width: 25vw;
    }
    h1 {
        font-size: 8vh;
        text-shadow: 2px 1px var(--highlight);
    }
    h2 {
        font-size: 1.75em;
        text-shadow: 1px 0.5px var(--highlight);
    }

    h3,
    a {
        font-size: x-large;
    }
}
