:root {
    --main: #151746;
    --secondary: #dba5e4;
    --highlight: #d3f584;
    --highlight-secondary: #bf0603;
    --border-radius: 5px;
}

@font-face {
    font-family: 'Victor Mono';
    font-weight: 100 - 700;
    src: url('assets/fonts/Jost-VariableFont_wght.ttf');
}

body,
html {
    height: 100%;
    background-color: var(--main);
}

* {
    font-family: 'Victor Mono';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--secondary);
    font-weight: 500;
    list-style: none;
}

nav ul {
    display: flex;
    margin-top: 20px;
    list-style: none;
    justify-content: space-around;
}

ul > li > a,
li {
    color: var(--highlight);
}

a,
a:visited {
    color: white;
    text-decoration: none;
}

h1 {
    margin-bottom: 10vh;
}

h1,
h2 {
    text-shadow: 1px 1px var(--highlight);
}

h3 {
    margin-bottom: 20px;
}

header {
    height: 35vh;
    display: flex;
    justify-content: center;
    align-items: end;
    border-top: 5px solid var(--highlight);
    border-bottom: 5px solid var(--highlight);
    margin: 20px 0 50px 0;
}

img {
    max-height: 30vh;
}

hr {
    width: 65vw;
    background: linear-gradient(to right, var(--highlight), var(--main));
    height: 2px;
    border: none;
    margin-bottom: 20px;
}

span {
    color: var(--highlight-secondary);
    font-weight: 600;
}

section {
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin: 10px;
}

#skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}

#skills > li {
    margin-right: 10px;
    justify-content: space-evenly;
}

.focus-section {
    background-color: #202370;
    border-radius: 5px;
    box-shadow: 30px 50px 100px #5422b9 inset;
}

div {
    margin-bottom: 30px;
    padding: 10px;
}

/* opacity: 0.33; */

/*Will need a max width for main content at larger view sizes */

@media (hover: hover) and (pointer: fine) {
    nav a:hover {
        background: var(--highlight-secondary);
    }
}
